<div class="ui home-rectangle">
  <div class="ui grid">
    <div class="four wide column">
      <div class="home-intro centered">
        <img class="ui small circular image" src="https://scontent.fmnl8-1.fna.fbcdn.net/v/t1.0-9/31117938_2076954845667522_5306209010150226187_n.jpg?_nc_cat=111&_nc_ht=scontent.fmnl8-1.fna&oh=7bb1a6ec5be602ca564ca931bb983ba5&oe=5CD9D2F7"></img>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="home-intro">
        <%= @profile.index_text.html_safe %>
      </div>
    </div>
  </div>
</div>
